* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    cursor: url("img/default.png");
    background: #202020;
    
}


/*barra de navegacion*/

/*barra de navegacion*/

.boton-regresar{
	cursor: url(img/pointer.png), auto;
	position: absolute;
	float: left;
	object-fit: cover;
	transition: 0.4s;
}

.boton-regresar:hover{
	transform: scale(1);
}

.boton-regresar img{
	cursor: url(img/pointer.png), auto;
	position: absolute;
	top: 0.5em;
	left: 0;
	transition: opacity 0.4s ease-in-out;
	width: 13.6em;
}

.boton-regresar img.top:hover{
	opacity: 0;
}

.barra{
	width: 65em;
}

header{
	display: flex;
}



/*Esto es el cover de la pagina*/

#cover {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    height: 100vh;
}

#present {
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
    font-weight: bolder;
    font-variant: small-caps;
}

/*Distribuciones de modos*/

.contain {
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(51, 24, 83);
}

.contain:nth-child(odd) {
    /*pseudoclase para colores alternativos*/
    background-color: #f2f2f2;
    color: black;
}

.contain img {
    border: solid 3px white;
    border-radius: 7px;
    width: 470px;
    height: 300px;
    margin: 30px;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    display: flex;
}

.content p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 50px;}

.content h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 30px;
    font-variant: small-caps;
    margin-bottom: 10px;
}

/*contenedor de textos*/

.info {
    margin: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}